* {box-sizing: border-box} 

html, body {
  font-family:'Permanent Marker';
  width:100%;
  height:100%;
  overflow:hidden;
  overscroll-behavior-x: none;
  cursor: url(../images/cursor-hand.png) 24 24, auto;
}

.map {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0
}

hr {
  size:10px;
}

.inner {
  position:relative;
  width:6000px;
  height:2870px;
  background:url(../images/bg.png) no-repeat center center / 100% auto;
}

.hotspot {
  position:absolute;
  background-size: contain;
}

.element {
  position:absolute;
  display:none;
  z-index:1000;
}

.element.show {
  display:block;
}

#info1 {
  top: 800px;
  left: 800px;
  width: 100px;
  height: 97.9px;
  background:red;
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
}

#info2 {
  top: 800px;
  left: 800px;
  width: 100px;
  height: 97.9px;
  background:red;
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
}

#info3 {
  top: 800px;
  left: 800px;
  width: 100px;
  height: 97.9px;
  background:red;
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
}

#hotspot1 {
  top: 800px;
  left: 800px;
  width: 100px;
  height: 97.9px;
  background-image: url(../images/Virus/Cholera.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
  transition: 300ms;
}

#hotspot2 {
  top: 800px;
  left: 900px;
  width: 100px;
  height: 92.1px;
  background-image: url(../images/Virus/Coronavirus.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
  transition: 300ms;
}

#hotspot3 {
  top: 800px;
  left: 1000px;
  width: 100px;
  height: 102.4px;
  background-image: url(../images/Virus/HepatiteA.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot4 {
  top: 800px;
  left: 1100px;
  width: 66.5px;
  height: 103.21px;
  background-image: url(../images/Virus/Paludisme.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot5 {
  top: 800px;
  left: 1200px;
  width: 100px;
  height: 100px;
  background-image: url(../images/Virus/Papillomavirus.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot6 {
  top: 800px;
  left: 1300px;
  width: 100px;
  height: 97.6px;
  background-image: url(../images/Virus/Peste.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot7 {
  top: 800px;
  left: 1400px;
  width: 120px;
  height: 89.04px;
  background-image: url(../images/Virus/Pneumonie.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot8 {
  top: 800px;
  left: 1500px;
  width: 100px;
  height: 98.08px;
  background-image: url(../images/Virus/Sida.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot9 {
  top: 800px;
  left: 1600px;
  width: 100px;
  height: 91.3px;
  background-image: url(../images/Virus/Tuberculose.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

#hotspot10 {
  top: 800px;
  left: 1700px;
  width: 100px;
  height: 100px;
  background-image: url(../images/Virus/Zika.png);
  color: white;
  padding: 20px;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
    transition: 300ms;
}

.hole {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 0 9999px rgb(0 0 0), inset 0 0 30px 30px rgb(0 0 0);
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.hotspot.found {
  opacity:0 !important;
}

.hotspot:hover {
  cursor: url(../images/cursor-sel.png) 24 24, auto ;
}

.count {
  font-family:'Permanent Marker';
  position:fixed;
  top:20px;
  right:20px;
  background-image: url(../images/fenetre.png);
  padding:10px 20px;
  border-radius:10px;
  border: solid 3px;
  border-color: black;
  font-size:32px;
  z-index:1000000;
}

.menu {
  font-family:'Permanent Marker';
  background-image: url(../images/fenetre.png);
  padding:5px 5px;
  width:300px;
  position:fixed;
  top:100px;
  right:20px;
  border: solid 3px;
  border-color: black;
  border-radius:10px;
  z-index:10000;
}

.mini{
  font-size: 13px;
}

.menu-item {
  font-family:'Permanent Marker';
  width:auto;
  /*background:white;*/
  padding:8px 0px;
  border-radius:3px;
  font-size:19px;
  margin-bottom:4px; 
  border-color: black;
  text-align: center;
}

.menu-info {
  font-family:'Permanent Marker';
  /*background:white;*/
  padding:10px 20px;
  margin-bottom: 5px;
  font-size:23px;
  z-index:10001;
}

.menu:hover {
  cursor: url(../images/cursor-sel.png) 24 24, auto ;
}

.menu-item:hover {
  cursor: url(../images/cursor-sel.png) 24 24, auto ;
}

.menu-item .item-not-found {
  display:block;
}

.menu-item .item-found {
  display:none;
}

.menu-item.found .item-not-found {
  display:none;
}

.menu-item.found .item-found {
  display:block;
}

.fiche {
  position:fixed;
  top:40px;
  left:40px;
  width:350px;
  background-image: url(../images/fenetre2.png);
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:10px;
  display:none;
  font-size:23px;
  border: solid 3px;
  border-color: black;
  transform:scale(0);
  transition:all 300ms ease;
}

.fiche.show {
  display:block;
  transform:scale(1);
}
.fiche img{
  width: 100%;
  height: auto;
}

.img {
  position:fixed;
  top:40px;
  left:40px;
  width:350px;
  background-image: url(../images/fenetre2.png);
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:10px;
  display:none;
  font-size:23px;
  border: solid 3px;
  border-color: black;
  transform:scale(0);
  transition:all 300ms ease;
  z-index:10000;
}
.img img{
  width: 100%;
  height: auto;
}

.img.show {
  display:block;
  transform:scale(1);
}

.close {
  position:absolute;
  top:20px;
  left:20px;
  background-image: url(../images/close.png);
  width:40px;
  height:40px;
  cursor:pointer;
  transform:scale(0);
  transition:all 300ms ease;
  z-index:100000;
}

}

.close:hover {
  cursor: url(../images/cursor-sel.png) 24 24, auto ;
}

.close.show {
  transform:scale(1);
}

.loading {
  position:fixed;
  height:100%;
  width:100%;
  margin:0;
  background-color:white;
  z-index:9999999;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loading.contenu {
  font-family:'Permanent Marker';
  width:100%;
  text-align: center;
  padding:50px;
  font-size: 1.8em;
}

.pop {
  font-family:'Permanent Marker';
  font-size:40px;
  position:fixed;
  padding:20px;
  top:50%;
  left:50%;
  margin:0;
  background-image: url(../images/fenetre3.png);
  z-index:9999999;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  border: solid 3px;
  border-color: black;
  border-radius:10px;
  display:none;
  flex-direction: column;
}

.pop-sous {
  font-size:20px;
}

.b {
  background-color:white;
  font-size:20px;
  border: solid 3px;
  border-color: black;
  padding:10px;
  border-radius:10px;
}

.b:hover {
  background-color:black;
  color:white;
  cursor: url(../images/cursor-sel.png) 24 24, auto ;
}
.fond {
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: white;
  opacity: .5;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:none;
}

@media screen and (max-width: 600px){

  .menu-info {
    width:auto;
    padding:10px 20px;
    margin-bottom: 5px;
    /*font-size:23px;*/
    font-size:100%;
    z-index:100000;
  }

  .mini{
    font-size: 13px;
  }

  .menu-item {
    width:auto;
    padding:8px 0px;;
    margin-bottom: 5px;
    z-index:100000;
  }

  .menu {
    padding:5px 5px;
    position:fixed;
    width:60%;
    top:0;
    right:0;
    left:0;
    border: solid 3px;
    border-color: black;
    border-radius:0px 0px 10px 0px;
    z-index:10000;
  }

  .fiche {
    position:fixed;
    top:78px;
    right:0;
    left:0;
    width:60%;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:0px 10px 10px 0px;
    display:none;
    font-size:15px;
    border: solid 3px;
    border-color: black;
  }

  .img {
    position:fixed;
    top:78px;
    right:0;
    left:0;
    width:60%;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:0px 10px 10px 0px;
    display:none;
    font-size:15px;
    border: solid 3px;
    border-color: black;
  }

  .close{
    top: 94px;
    left: 45%;
  }
  .count {
    font-family:'Permanent Marker';
    position:fixed;
    top:0px;
    right:0px;
    height: 81px;
    background-image: url(../images/fenetre.png);
    padding:20px 20px;
    border-radius:0px 0px 0px 10px;
    border: solid 3px;
    border-color: black;
    font-size:32px;
    z-index:1000000;
  }
}