
body {
    font-family: 'Aleo', serif;
    color:#FFFFFF;
    background: #1e2859;
}

.remerciments {
    Position: absolute;
    width: 60%;
    bottom: 120px;
    left: 5%;
    width: 480px;
    font-weight: 200;
}


h1 {
    font-family: 'Spline+Sans', sans-serif;
    line-height: 1;
    color:#FFFFFF;
    font-size: 70px;
    margin-right: 5%;
    margin-left: 5%;
    z-index:3;
}

h2{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 25px;
}

h3 {
    font-family: 'Spline+Sans', sans-serif;
    font-size: 35px;
    font-weight:700;
    max-width: 800px;  
    margin: 0 auto;
    display:flex;
}

h4{
    font-family: 'Spline+Sans', sans-serif;
    font-weight:700;
    max-width: 800px;
    margin: 0 auto;
    display:flex;
    font-size: 25px;
    padding-bottom: 40px;
}

a {
    font-family: 'Spline+Sans', sans-serif;
    text-decoration:none;
    font-size:14px;
    font-weight:400;
}

a:hover{
    opacity:100%;
}

.Nom {
    font-size: 25px;
    font-weight: 400;
    padding-left: 5%;
}

.color {
    background-image: linear-gradient(to bottom right, rgba(255, 48, 82, 1), rgb(219, 108, 34));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


section {
    max-width: 800px;
    margin: 0 auto;
    display:flex;
}

section p {
    flex:0 1 600px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom:0;
}

.page-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    color: #FFFFFF;;
}
.footnote {
    font-size: 12px;
    color:rgb(255, 255, 255);
    line-height: 1.4;
    width: 200px;
    font-weight: 200;
}

.Section-head {
    width: 100%;
    height: 100vh;
}

.Titre {
    padding-top:3%;
    z-index:3;
}

.Head-image {
    Position:absolute;
    width: 1200px;
    top: -181px;
    right: 0;
    z-index:-1;
}

.Head-image2 {
    display:none;
}

.Section-sommaire {
    display:block;
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    bottom:0;
    
}

.Section-sommaire2 {
    display:none;
    padding-top:40px;
    padding-bottom:40px;
    
}

.Section-sommaire3 {
    display:none;
    position: sticky;
    top:50px;
    left:auto;
    right:50px;
    
}

.Contenue-sommaire {
    display:none;
    position: absolute;
    right: 50px;
    background: linear-gradient(to bottom right, rgba(255, 48, 82, 1), rgb(219, 108, 34));
    border-radius: 20px;
    padding:20px;
}


.Contenu {
    padding-top:40px;
    position: absolute;
    height: auto;
    width: 380px;
    margin: 0 0;
    top: 0;
    padding-left: 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}

.Contenu2 {
 position: -webkit-sticky;
    position: sticky;
}

.Section-Introduction {
    background: #1e2859;
    padding-top:40px;
    padding-bottom:40px;
}

.Section-1 {
    background: #1e2859;
    padding-top:40px;
    padding-bottom:40px;
}

.Img-grande{
    padding-bottom:16px;
    padding-top:32px;
    background-size: contain;
}

.Img-content{
    width:100%;
    height:100%;
    border-radius:20px;
}

.Img-content2{
    width:100%;
    height:390px;
    border-radius:10px;
}

.Img-content3{
    width:100%;
    height:200px;
    border-radius:10px;
}

.Img-tiers{
    max-width: 600px;
    margin: 0 auto;
    display:flex;
    padding-bottom:16px;
}

#tiers {
    flex-direction:row;
}

.Img-interne{
    flex:0 1 600px;
    height:auto;
    border: 20px;
    border-color:#1e2859;
    padding-right:20px;
}

.Img-sommaire{
    position: absolute;
    top: 20px;
    left: 45px;
    background-size: contain;
}

.Img-content-sommaire{
    width:100%;
    height:710px;
    border-radius:20px;
}

.Img-petit {
    font-size: 16px;
    font-weight: 200;
}



@media screen and (max-width: 1650px) and (min-width: 1350px){

    .page-content {
        padding-left: 256px;
        padding-right: 0;
    }

    .Head-image {
        width: 1000px;
        top: -119px;
    }

}

@media screen and (max-width: 1350px) and (min-width: 1200px){

    .page-content {
        padding-left: 256px;
        padding-right: 0;
    }

    .Contenu {
        width: 300px;
    }

    .Head-image {
        top: -86px;
        width: 900px;
    }
    
}

@media screen and (max-width: 1205px) and (min-width: 1020px){

    section {
        max-width: 90%;
    }
    
    section p {
        flex:0 1 100%;
    }

    h3 {
        max-width: 90%;
    }

    h4 {
        max-width: 90%;
    }

    .Contenu{
        display:none;
    }

    .Head-image {
        width:80%;
        top: 25vh;
    }
    .Section-sommaire2 {
        display:block;
        
    }

    .Section-sommaire3 {
        display:block;
        
    }

    .Contenue-sommaire {
        display:block;
    }


    .Head-image {
        display:none;
    }
    .Head-image2 {
        display:block;
        position:absolute;
        width: 700px;
        top: -16px;
        right: 0;
        z-index:-1;
    }

    .Img-content2{
        height:auto;
    }
    
    .Img-content3{
        height:auto;
    }
    
    .Img-tiers{
        margin:0;
        max-width:100%;
    }

    
    
}

@media screen and (max-width: 1020px) and (min-width: 720px){
    
    section {
        max-width: 90%;
    }
    
    section p {
        flex:0 1 100%;
    }
    h3 {
        max-width: 90%;
    }

    h4 {
        max-width: 90%;
    }
    .Contenu{
        display:none;
    }

    .Head-image {
        width:80%;
        top: 25vh;
    }
    .Section-sommaire2 {
        display:block;
        
    }

    .Section-sommaire3 {
        display:block;

    }

    .Contenue-sommaire {
        display:block;
    }



    .Head-image {
        display:none;
    }
    .Head-image2 {
        display:block;
        position:absolute;
        width: 550px;
        top: 270px;
        right: 0;
        z-index:-1;
    }

    .Img-content2{
        height:auto;
    }
    
    .Img-content3{
        height:auto;
    }
    
    .Img-tiers{
        margin:0;
        max-width:100%;
    }

    
}

@media screen and (max-width: 720px) and (min-width: 500px){
    
    section {
        max-width: 90%;
    }
    
    section p {
        flex:0 1 100%;
    }

    h3 {
        max-width: 90%;
    }

    h4 {
        max-width: 90%;
    }

    .Contenu{
        display:none;
    }

    .Head-image {
        width:80%;
        top: 25vh;
    }
    .Section-sommaire2 {
        display:block;
        
    }

    .Section-sommaire3 {
        display:block;

    }

    .Contenue-sommaire {
        display:block;
    }

    .Head-image {
        display:none;
    }
    .Head-image2 {
        display:block;
        position:absolute;
        width: 550px;
        top: 270px;
        right: 0;
        z-index:-1;
    }

    .Img-content2{
        height:auto;
    }
    
    .Img-content3{
        height:auto;
    }
    
    .Img-tiers{
        margin:0;
        max-width:100%;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px){
    
    section {
        max-width: 90%;
    }
    
    section p {
        flex:0 1 100%;
    }

    h3 {
        max-width: 90%;
        font-size:30px;
    }

    h4 {
        max-width: 90%;
        font-size:20px;
    }

    h1 {
        font-size: 38px;
    }

    .Nom {
        font-size:20px;
    }

    .Contenu{
        display:none;
    }

    .Head-image {
        width:80%;
        top: 25vh;
    }
    .Section-sommaire2 {
        display:block;
        
    }

    .Section-sommaire3 {
        display:block;

    }

    .Contenue-sommaire {
        display:block;
    }

    .Head-image {
        display:none;
    }
    .Head-image2 {
        display:block;
        position:absolute;
        width: 550px;
        top: 270px;
        right: 0;
        z-index:-1;
    }

    .Img-content2{
        height:auto;
    }
    
    .Img-content3{
        height:auto;
    }
    
    .Img-tiers{
        margin:0;
        max-width:100%;
    }
    
    .remerciments {
        width: 90%;
        
    }

    
    .Contenue-sommaire {
        display:block;
        right: 20px;
        border-radius: 8px;
        padding:10px;
    }

    .Section-sommaire3 {
        top:20px;
        right:20px;
        
    }

    .Img-grande {
        display:block;
    }

    .Img-grande div{
        width:100%;
    }

    .page-content {
        font-size: 14px;
    }

    .Img-tiers{
        display:block;

    }
    .Img-petit {
        font-size: 14px;
    }
}